<div class="chat">  
  Chat with us
  <hr style="border-color: red; border-width: 5px; height: 1px;" />

  <p>List of messages:</p>
  <div id="div-msgs" style="border: 1px solid red;">
    Loading...
  </div>
  <br /><br />
  <hr style="border-color: red; border-width: 5px; height: 1px;" />
  <div>
    <p>Enter your message:</p>
    <input id="input-msg" type="text" value="" />
  </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="js/chat.js"></script>