<h1>Log In</h1>
<form action='/api/sessions/login' method='POST'>
  <input id='email' name='email' type='text' placeholder='email' />
  <input id='password' name='password' type='text' placeholder='password' />
  <input type='submit' value='login' />
</form>
<a href='/register'>Sign Up</a>
<a href='/api/sessions/github'>GitHub</a>