<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form action='/recover-mail' method='post'>
        
        <div class='text-center text-white mb-3'>
          <p>Recover:</p>
        </div>

        <div class="form-floating mb-3">
          <input
            type="email"
            class="form-control border-0 border-bottom border-dark"
            id="inputEmailRegister"
            name="email"
            placeholder="Enter email"
          />
          <label for="input-passwordLogin"><i class="bi bi-envelope-at me-1"></i>Email</label>
        </div>
			
        <button type="submit" class="btn btn-primary btn-block mb-4 w-100">Send</button>

        <div class="mt-3 text-center text-white mb-3">
            <p>Not a member?<a href="/register"> Register</a></p>
        </div>

      </form>
    </div>
  </div>
</div>
