* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #2b3035;
}

.navbar-brand{
  font-size: 1.5rem;
}

.form-floating {
  margin-bottom: 15px; 
}

.form-check-input {
  margin-right: 10px; 
}

.profile{
	color: white;	
}

.allProducts{
  color: white;
}

.chat{
  color: white;
}

.crudProducts{
  color: white;
}

.cartsForm {
  border: 2px solid white; 
  padding: 10px;
  border-radius: 10px;
}

.divPurchases{
  border: 2px solid white; 
  padding: 10px;
  border-radius: 10px;
}





